#!/usr/bin/make -f

# export DH_VERBOSE=1
%:
	dh $@ --without autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-screen=ncursesw6

override_dh_auto_test:
	# no tests

override_dh_compress:
	dh_compress -Xexamples -Xcopyright
