#!/usr/bin/make -f

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

%:
	dh $@

# This does not work with Debian 5.0 (use "compress" file instead):
#override_dh_compress:
#	dh_compress -Xexamples
